## import pandas package

In [1]:
import pandas as pd
import numpy as np

In [137]:
HR_data = pd.read_csv('5000 Records.csv')
columns_name = HR_data.columns.tolist()
print("Columns name :")
print(columns_name)
HR_data.head()

Columns name :
['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender', 'E Mail', "Father's Name", "Mother's Name", "Mother's Maiden Name", 'Date of Birth', 'Time of Birth', 'Age in Yrs.', 'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining', 'Half of Joining', 'Year of Joining', 'Month of Joining', 'Month Name of Joining', 'Short Month', 'Day of Joining', 'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary', 'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name', 'Password']

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,526540,Ms.,Angelique,K,Goodwin,F,angelique.goodwin@gmail.com,Rick Goodwin,Dorian Goodwin,Maxey,...,471-57-0359,212-884-7146,Rochester,Monroe,Rochester,NY,14624,Northeast,akgoodwin,z{d>ez%{.@
1,859327,Ms.,Jeni,S,Shaffer,F,jeni.shaffer@gmail.com,Ryan Shaffer,Love Shaffer,Gunderson,...,624-85-4146,205-665-7020,Luverne,Crenshaw,Luverne,AL,36049,South,jsshaffer,7U56!*!O
2,887387,Ms.,Donald,T,Farris,F,donald.farris@bellsouth.net,Mauro Farris,Edyth Farris,Greer,...,097-02-3315,205-959-7879,Hodges,Franklin,Hodges,AL,35571,South,dtfarris,rX.F{j&]&m&&X
3,779497,Hon.,Steven,D,Rendon,M,steven.rendon@gmail.com,Elden Rendon,Angela Rendon,Ortiz,...,134-98-6566,217-858-0054,Savoy,Champaign,Savoy,IL,61874,Midwest,sdrendon,a+2;sx}<G]y
4,896517,Drs.,Jenell,L,Almanza,F,jenell.almanza@yahoo.com,Clifford Almanza,Vergie Almanza,Darby,...,599-92-7345,314-893-2590,Stet,Carroll,Stet,MO,64680,Midwest,jlalmanza,Ou7RX{yT

In [138]:
women=HR_data[HR_data.Gender=='M']
t_male=women.shape
t_emp=HR_data.shape
print("Total Male Employee's="+str(t_male[0]))
print("Total Female Employee's="+str(t_emp[0]-t_male[0]))

Total Male Employee's=2522
Total Female Employee's=2478

In [146]:
HR_data=HR_data.rename(columns={'Emp ID': 'Emp_ID',
                                'Name Prefix':'Name_Prefix',
                                'First Name':'F_Name',
                                'Middle Initial':'M_Name',
                                'Last Name':'L_Name',
                                'E Mail':'EMail',
                                'Father\'s Name':'F_Name',
                                'Mother\'s Name':'M_Name',
                                'Mother\'s Maiden Name':'M_M_Name',
                                'Date of Birth':'DOB',
                                'Time of Birth':'TOB',
                                'Age in Yrs.':'AIY',
                                'Weight in Kgs.':'Weight',
                                'Date of Joining':'DOJ',
                                'Half of Joining':'HOJ',
                                'Quarter of Joining':'QOJ',
                                'Year of Joining':'YOJ',
                                'Month of Joining':'MOJ',
                                'Month Name of Joining':'MNOJ',
                                'Short Month':'SM',
                                'Day of Joining':'Day_Of_Joining',
                                'DOW of Joining':'DOW_of_Joining',
                                'Short DOW':'S_DOW',
                                'Age in Company (Years)':'time_spend_company',
                                'Last % Hike':'Increment',
                                'Phone No.':'P_No',
                                'Place Name':'Place_Name',
                                'User Name':'User_Name'})

In [147]:
HR_data.columns

Index(['Emp_ID', 'Name_Prefix', 'F_Name', 'M_Name', 'L_Name', 'Gender',
       'EMail', 'F_Name', 'M_Name', 'M_M_Name', 'DOB', 'TOB', 'AIY', 'Weight',
       'DOJ', 'QOJ', 'HOJ', 'YOJ', 'MOJ', 'MNOJ', 'SM', 'Day_Of_Joining',
       'DOW_of_Joining', 'S_DOW', 'time_spend_company', 'Salary', 'Increment',
       'SSN', 'Phone No. ', 'Place_Name', 'County', 'City', 'State', 'Zip',
       'Region', 'User_Name', 'Password', 'Departments'],
      dtype='object')

In [148]:
t_data=HR_data['time_spend_company'].unique()
t_data.sort()
t_data.tolist()

[0.0,
 0.01,
 0.02,
 0.03,
 0.04,
 0.05,
 0.06,
 0.07,
 0.08,
 0.09,
 0.1,
 0.11,
 0.12,
 0.13,
 0.14,
 0.15,
 0.16,
 0.17,
 0.18,
 0.19,
 0.2,
 0.21,
 0.22,
 0.23,
 0.24,
 0.25,
 0.26,
 0.27,
 0.28,
 0.29,
 0.3,
 0.31,
 0.32,
 0.33,
 0.34,
 0.35,
 0.36,
 0.37,
 0.38,
 0.39,
 0.4,
 0.41,
 0.42,
 0.43,
 0.44,
 0.45,
 0.46,
 0.47,
 0.48,
 0.49,
 0.5,
 0.51,
 0.53,
 0.54,
 0.55,
 0.56,
 0.57,
 0.58,
 0.59,
 0.6,
 0.61,
 0.62,
 0.63,
 0.64,
 0.65,
 0.66,
 0.67,
 0.68,
 0.69,
 0.7,
 0.71,
 0.72,
 0.73,
 0.74,
 0.75,
 0.76,
 0.77,
 0.78,
 0.79,
 0.8,
 0.81,
 0.82,
 0.83,
 0.84,
 0.85,
 0.86,
 0.87,
 0.88,
 0.89,
 0.9,
 0.91,
 0.92,
 0.93,
 0.94,
 0.95,
 0.96,
 0.97,
 0.98,
 0.99,
 1.0,
 1.01,
 1.02,
 1.03,
 1.04,
 1.05,
 1.06,
 1.07,
 1.08,
 1.09,
 1.1,
 1.11,
 1.12,
 1.13,
 1.14,
 1.15,
 1.16,
 1.17,
 1.18,
 1.19,
 1.2,
 1.21,
 1.22,
 1.23,
 1.24,
 1.25,
 1.26,
 1.27,
 1.28,
 1.29,
 1.3,
 1.31,
 1.32,
 1.33,
 1.34,
 1.35,
 1.36,
 1.37,
 1.38,
 1.39,
 1.4,
 1.41,
 1.42,
 1.43,
 1.44,
 1.45,
 1.46,
 1.47,
 1.48,
 1.49,
 1.5,
 1.51,
 1.52,
 1.53,
 1.54,
 1.55,
 1.56,
 1.57,
 1.58,
 1.59,
 1.6,
 1.61,
 1.62,
 1.63,
 1.64,
 1.65,
 1.66,
 1.67,
 1.68,
 1.69,
 1.7,
 1.71,
 1.72,
 1.73,
 1.74,
 1.75,
 1.76,
 1.77,
 1.78,
 1.79,
 1.8,
 1.81,
 1.82,
 1.83,
 1.84,
 1.85,
 1.86,
 1.87,
 1.88,
 1.89,
 1.9,
 1.92,
 1.93,
 1.94,
 1.95,
 1.96,
 1.97,
 1.98,
 1.99,
 2.0,
 2.01,
 2.02,
 2.03,
 2.04,
 2.05,
 2.06,
 2.07,
 2.08,
 2.09,
 2.1,
 2.11,
 2.12,
 2.13,
 2.14,
 2.15,
 2.16,
 2.17,
 2.18,
 2.19,
 2.2,
 2.21,
 2.22,
 2.23,
 2.24,
 2.25,
 2.26,
 2.27,
 2.28,
 2.29,
 2.3,
 2.31,
 2.32,
 2.33,
 2.34,
 2.35,
 2.36,
 2.37,
 2.38,
 2.39,
 2.4,
 2.41,
 2.42,
 2.43,
 2.44,
 2.45,
 2.46,
 2.47,
 2.48,
 2.49,
 2.5,
 2.51,
 2.52,
 2.53,
 2.54,
 2.55,
 2.56,
 2.57,
 2.58,
 2.59,
 2.6,
 2.61,
 2.62,
 2.63,
 2.64,
 2.65,
 2.66,
 2.67,
 2.7,
 2.71,
 2.72,
 2.73,
 2.74,
 2.76,
 2.77,
 2.78,
 2.79,
 2.8,
 2.81,
 2.82,
 2.83,
 2.84,
 2.85,
 2.86,
 2.87,
 2.88,
 2.89,
 2.9,
 2.91,
 2.92,
 2.93,
 2.94,
 2.95,
 2.96,
 2.97,
 2.98,
 2.99,
 3.0,
 3.01,
 3.02,
 3.03,
 3.04,
 3.05,
 3.06,
 3.07,
 3.09,
 3.1,
 3.11,
 3.12,
 3.13,
 3.14,
 3.15,
 3.16,
 3.17,
 3.18,
 3.19,
 3.2,
 3.21,
 3.22,
 3.23,
 3.24,
 3.25,
 3.26,
 3.27,
 3.28,
 3.29,
 3.3,
 3.31,
 3.32,
 3.33,
 3.34,
 3.35,
 3.36,
 3.37,
 3.38,
 3.39,
 3.4,
 3.41,
 3.42,
 3.43,
 3.44,
 3.45,
 3.46,
 3.47,
 3.48,
 3.49,
 3.5,
 3.51,
 3.52,
 3.53,
 3.55,
 3.56,
 3.57,
 3.58,
 3.59,
 3.6,
 3.61,
 3.62,
 3.63,
 3.64,
 3.65,
 3.67,
 3.68,
 3.69,
 3.7,
 3.71,
 3.72,
 3.73,
 3.75,
 3.76,
 3.78,
 3.79,
 3.8,
 3.81,
 3.82,
 3.83,
 3.84,
 3.85,
 3.86,
 3.87,
 3.88,
 3.89,
 3.9,
 3.91,
 3.92,
 3.93,
 3.94,
 3.95,
 3.96,
 3.97,
 3.98,
 3.99,
 4.0,
 4.01,
 4.02,
 4.03,
 4.04,
 4.05,
 4.06,
 4.07,
 4.08,
 4.09,
 4.1,
 4.12,
 4.13,
 4.14,
 4.15,
 4.16,
 4.17,
 4.18,
 4.19,
 4.2,
 4.21,
 4.22,
 4.24,
 4.25,
 4.26,
 4.27,
 4.28,
 4.29,
 4.3,
 4.32,
 4.33,
 4.34,
 4.35,
 4.36,
 4.37,
 4.38,
 4.39,
 4.4,
 4.41,
 4.44,
 4.45,
 4.46,
 4.47,
 4.48,
 4.49,
 4.5,
 4.51,
 4.52,
 4.53,
 4.54,
 4.56,
 4.57,
 4.58,
 4.59,
 4.6,
 4.61,
 4.62,
 4.63,
 4.64,
 4.65,
 4.66,
 4.67,
 4.7,
 4.71,
 4.72,
 4.73,
 4.74,
 4.75,
 4.76,
 4.77,
 4.79,
 4.8,
 4.81,
 4.82,
 4.83,
 4.84,
 4.85,
 4.86,
 4.87,
 4.88,
 4.89,
 4.9,
 4.91,
 4.92,
 4.93,
 4.95,
 4.96,
 4.97,
 4.98,
 5.0,
 5.01,
 5.02,
 5.03,
 5.04,
 5.05,
 5.06,
 5.07,
 5.1,
 5.11,
 5.12,
 5.13,
 5.14,
 5.15,
 5.16,
 5.17,
 5.18,
 5.19,
 5.2,
 5.21,
 5.22,
 5.23,
 5.24,
 5.25,
 5.26,
 5.27,
 5.28,
 5.3,
 5.31,
 5.32,
 5.33,
 5.34,
 5.35,
 5.36,
 5.37,
 5.38,
 5.39,
 5.4,
 5.41,
 5.42,
 5.43,
 5.44,
 5.45,
 5.46,
 5.47,
 5.48,
 5.49,
 5.5,
 5.51,
 5.52,
 5.53,
 5.54,
 5.55,
 5.57,
 5.58,
 5.59,
 5.6,
 5.61,
 5.62,
 5.63,
 5.64,
 5.65,
 5.66,
 5.67,
 5.68,
 5.69,
 5.71,
 5.72,
 5.73,
 5.74,
 5.75,
 5.76,
 5.77,
 5.78,
 5.79,
 5.8,
 5.81,
 5.82,
 5.83,
 5.84,
 5.85,
 5.86,
 5.87,
 5.88,
 5.89,
 5.91,
 5.92,
 5.93,
 5.95,
 5.96,
 5.97,
 5.98,
 5.99,
 6.0,
 6.01,
 6.04,
 6.05,
 6.06,
 6.07,
 6.08,
 6.09,
 6.1,
 6.11,
 6.12,
 6.13,
 6.14,
 6.15,
 6.16,
 6.17,
 6.18,
 6.2,
 6.21,
 6.22,
 6.23,
 6.25,
 6.26,
 6.27,
 6.28,
 6.3,
 6.31,
 6.32,
 6.33,
 6.35,
 6.36,
 6.37,
 6.38,
 6.39,
 6.4,
 6.41,
 6.42,
 6.43,
 6.44,
 6.45,
 6.46,
 6.47,
 6.48,
 6.49,
 6.5,
 6.53,
 6.54,
 6.55,
 6.56,
 6.57,
 6.59,
 6.6,
 6.61,
 6.62,
 6.63,
 6.64,
 6.65,
 6.67,
 6.68,
 6.7,
 6.71,
 6.72,
 6.73,
 6.74,
 6.76,
 6.77,
 6.79,
 6.8,
 6.82,
 6.83,
 6.84,
 6.85,
 6.86,
 6.88,
 6.89,
 6.91,
 6.92,
 6.93,
 6.94,
 6.95,
 6.96,
 6.97,
 6.98,
 6.99,
 7.0,
 7.01,
 7.02,
 7.03,
 7.04,
 7.05,
 7.06,
 7.07,
 7.08,
 7.09,
 7.1,
 7.11,
 7.12,
 7.13,
 7.14,
 7.15,
 7.16,
 7.17,
 7.18,
 7.19,
 7.21,
 7.22,
 7.24,
 7.25,
 7.28,
 7.29,
 7.3,
 7.31,
 7.32,
 7.33,
 7.34,
 7.35,
 7.36,
 7.37,
 7.38,
 7.39,
 7.4,
 7.41,
 7.42,
 7.43,
 7.45,
 7.47,
 7.48,
 7.5,
 7.51,
 7.52,
 7.53,
 7.54,
 7.55,
 7.56,
 7.57,
 7.58,
 7.59,
 7.6,
 7.61,
 7.62,
 7.63,
 7.65,
 7.67,
 7.68,
 7.7,
 7.71,
 7.72,
 7.75,
 7.76,
 7.77,
 7.78,
 7.8,
 7.81,
 7.82,
 7.83,
 7.84,
 7.85,
 7.86,
 7.87,
 7.88,
 7.91,
 7.92,
 7.93,
 7.94,
 7.95,
 7.96,
 7.97,
 7.98,
 7.99,
 8.01,
 8.02,
 8.05,
 8.06,
 8.07,
 8.08,
 8.09,
 8.1,
 8.11,
 8.12,
 8.13,
 8.14,
 8.15,
 8.17,
 8.18,
 8.19,
 8.2,
 8.21,
 8.22,
 8.23,
 8.24,
 8.25,
 8.26,
 8.27,
 8.28,
 8.29,
 8.3,
 8.31,
 8.32,
 8.33,
 8.34,
 8.35,
 8.37,
 8.38,
 8.39,
 8.4,
 8.41,
 8.42,
 8.43,
 8.44,
 8.46,
 8.47,
 8.48,
 8.5,
 8.52,
 8.53,
 8.55,
 8.56,
 8.57,
 8.58,
 8.59,
 8.6,
 8.62,
 8.63,
 8.64,
 8.65,
 8.67,
 8.68,
 8.69,
 8.7,
 8.73,
 8.75,
 8.76,
 8.77,
 8.78,
 8.79,
 8.81,
 8.82,
 8.83,
 8.86,
 8.88,
 8.9,
 8.91,
 8.92,
 8.94,
 8.95,
 8.96,
 8.98,
 8.99,
 9.01,
 9.03,
 9.04,
 9.06,
 9.07,
 9.08,
 9.09,
 9.1,
 9.11,
 9.12,
 9.13,
 9.14,
 9.15,
 9.16,
 9.17,
 9.18,
 9.19,
 9.2,
 9.21,
 9.22,
 9.23,
 9.24,
 9.25,
 9.26,
 9.27,
 9.28,
 9.29,
 9.31,
 9.32,
 9.33,
 9.35,
 9.36,
 9.37,
 9.39,
 9.41,
 9.42,
 9.44,
 9.45,
 9.46,
 9.47,
 9.48,
 9.5,
 9.51,
 9.52,
 9.53,
 9.54,
 9.55,
 9.56,
 9.58,
 9.59,
 9.61,
 9.62,
 9.64,
 9.65,
 9.67,
 9.68,
 9.7,
 9.71,
 9.72,
 9.73,
 9.75,
 9.77,
 9.78,
 9.8,
 9.81,
 9.82,
 9.83,
 9.84,
 9.85,
 9.87,
 9.88,
 9.89,
 9.9,
 9.93,
 9.94,
 9.95,
 9.96,
 9.97,
 9.98,
 9.99,
 10.0,
 10.01,
 10.02,
 10.03,
 10.04,
 10.05,
 10.07,
 10.08,
 10.1,
 10.11,
 10.12,
 10.13,
 10.14,
 10.15,
 10.16,
 10.18,
 10.19,
 10.2,
 10.21,
 10.22,
 10.23,
 10.25,
 10.27,
 10.28,
 10.3,
 10.32,
 10.34,
 10.35,
 10.36,
 10.37,
 10.38,
 10.39,
 10.4,
 10.41,
 10.42,
 10.43,
 10.46,
 10.48,
 10.49,
 10.5,
 10.51,
 10.52,
 10.53,
 10.54,
 10.56,
 10.57,
 10.58,
 10.59,
 10.61,
 10.62,
 10.63,
 10.65,
 10.66,
 10.67,
 10.68,
 10.7,
 10.71,
 10.72,
 10.73,
 10.74,
 10.75,
 10.76,
 10.77,
 10.79,
 10.8,
 10.82,
 10.84,
 10.85,
 10.87,
 10.89,
 10.91,
 10.93,
 10.94,
 10.95,
 10.97,
 10.99,
 11.0,
 11.01,
 11.02,
 11.03,
 11.04,
 11.05,
 11.07,
 11.08,
 11.1,
 11.11,
 11.12,
 11.13,
 11.14,
 11.15,
 11.16,
 11.17,
 11.18,
 11.19,
 11.2,
 11.22,
 11.23,
 11.24,
 11.25,
 11.26,
 ...]

In [149]:

HR_data['Departments'] = HR_data['time_spend_company'].apply(lambda x: 'Tranning' if (x >= 0.00) & (x <= 0.09)
                                                             else 'Internship' if (x >= 0.1) & (x <= 0.99)  
                                                             else 'Sales' if (x >= 1.0) & (x <= 6.0)
                                                             else 'Markating' if (x >= 6.01) & (x <= 10.0)
                                                             else 'Technical' if (x >= 10.01) & (x <= 11.0)
                                                             else 'product_mng' if (x >= 11.01) & (x <= 11.2)
                                                             else 'Management')
HR_data.loc[(HR_data['time_spend_company'] >= 11.22) & (HR_data['Gender']=='F') & (HR_data['Salary']>199000), 'Departments'] = 'HR'
HR_data.loc[(HR_data['time_spend_company'] >= 11.26) & (HR_data['Salary']>199950), 'Departments'] = 'CEO'

In [150]:
HR_data[HR_data['Departments']=="HR"]

,Emp_ID,Name_Prefix,F_Name,M_Name,L_Name,Gender,EMail,F_Name,M_Name,M_M_Name,...,Phone No.,Place_Name,County,City,State,Zip,Region,User_Name,Password,Departments
345,776039,Mrs.,Nancey,P,Bond,F,nancey.bond@yahoo.com,Alonso Bond,Drema Bond,Paulk,...,206-485-0242,Rosalia,Whitman,Rosalia,WA,99170,West,npbond,V|jm3X_i]>Xn;,HR
588,703258,Ms.,Lacy,O,Camacho,F,lacy.camacho@gmail.com,Aldo Camacho,Luanna Camacho,Mcewen,...,240-873-5040,Linthicum Heights,Anne Arundel,Linthicum Heights,MD,21090,South,locamacho,uu>y!4dS3D/p?7,HR
2194,597583,Mrs.,Joi,K,Hoskins,F,joi.hoskins@gmail.com,Stuart Hoskins,Ellamae Hoskins,Carswell,...,209-700-5642,Fresno,Fresno,Fresno,CA,93755,West,jkhoskins,GFLHrrWB7fqa,HR
2993,783435,Mrs.,Brandee,E,Thorn,F,brandee.thorn@yahoo.ca,Jackson Thorn,Margret Thorn,Ochoa,...,302-932-7288,Nassau,Sussex,Nassau,DE,19969,South,bethorn,XJ0cmCm<~rX,HR
3070,754018,Hon.,Nichelle,D,Coombs,F,nichelle.coombs@gmail.com,Vincenzo Coombs,Jewell Coombs,Billingsley,...,212-755-9859,Little Neck,Queens,Little Neck,NY,11363,Northeast,ndcoombs,TG%M<Uxe!_l9s,HR
3531,120168,Mrs.,Maryam,B,Griffith,F,maryam.griffith@gmail.com,Caleb Griffith,Agripina Griffith,Roach,...,314-849-1092,Marshall,Saline,Marshall,MO,65340,Midwest,mbgriffith,a{[Q*X#AzH,HR
4381,253932,Drs.,Missy,A,Laney,F,missy.laney@aol.com,Luis Laney,Conception Laney,Sheldon,...,270-613-4270,Salt Lick,Bath,Salt Lick,KY,40371,South,malaney,JC~P^rf>JAm,HR

In [151]:
a=HR_data['Departments'].isnull()
count=0
for x in range(len(a)):
    if a[x]==True:
        count+=1

print(count)
HR_data.head()

0

,Emp_ID,Name_Prefix,F_Name,M_Name,L_Name,Gender,EMail,F_Name,M_Name,M_M_Name,...,Phone No.,Place_Name,County,City,State,Zip,Region,User_Name,Password,Departments
0,526540,Ms.,Angelique,K,Goodwin,F,angelique.goodwin@gmail.com,Rick Goodwin,Dorian Goodwin,Maxey,...,212-884-7146,Rochester,Monroe,Rochester,NY,14624,Northeast,akgoodwin,z{d>ez%{.@,Management
1,859327,Ms.,Jeni,S,Shaffer,F,jeni.shaffer@gmail.com,Ryan Shaffer,Love Shaffer,Gunderson,...,205-665-7020,Luverne,Crenshaw,Luverne,AL,36049,South,jsshaffer,7U56!*!O,Sales
2,887387,Ms.,Donald,T,Farris,F,donald.farris@bellsouth.net,Mauro Farris,Edyth Farris,Greer,...,205-959-7879,Hodges,Franklin,Hodges,AL,35571,South,dtfarris,rX.F{j&]&m&&X,Management
3,779497,Hon.,Steven,D,Rendon,M,steven.rendon@gmail.com,Elden Rendon,Angela Rendon,Ortiz,...,217-858-0054,Savoy,Champaign,Savoy,IL,61874,Midwest,sdrendon,a+2;sx}<G]y,Markating
4,896517,Drs.,Jenell,L,Almanza,F,jenell.almanza@yahoo.com,Clifford Almanza,Vergie Almanza,Darby,...,314-893-2590,Stet,Carroll,Stet,MO,64680,Midwest,jlalmanza,Ou7RX{yT,Management

In [123]:
HR_data.dtypes

Emp_ID                  int64
Name_Prefix            object
F_Name                 object
M_Name                 object
L_Name                 object
Gender                 object
EMail                  object
F_Name                 object
M_Name                 object
M_M_Name               object
DOB                    object
TOB                    object
AIY                   float64
Weight                  int64
DOJ                    object
QOJ                    object
HOJ                    object
YOJ                     int64
MOJ                     int64
MNOJ                   object
SM                     object
Day_Of_Joining          int64
DOW_of_Joining         object
S_DOW                  object
time_spend_company    float64
Salary                  int64
Increment              object
SSN                    object
Phone No.              object
Place_Name             object
County                 object
City                   object
State                  object
Zip                     int64
Region                 object
User_Name              object
Password               object
Departments            object
dtype: object

In [152]:
HR_data.isnull().any()

Emp_ID                False
Name_Prefix           False
F_Name                False
M_Name                False
L_Name                False
Gender                False
EMail                 False
F_Name                False
M_Name                False
M_M_Name              False
DOB                   False
TOB                   False
AIY                   False
Weight                False
DOJ                   False
QOJ                   False
HOJ                   False
YOJ                   False
MOJ                   False
MNOJ                  False
SM                    False
Day_Of_Joining        False
DOW_of_Joining        False
S_DOW                 False
time_spend_company    False
Salary                False
Increment             False
SSN                   False
Phone No.             False
Place_Name            False
County                False
City                  False
State                 False
Zip                   False
Region                False
User_Name             False
Password              False
Departments           False
dtype: bool

In [153]:
HR_data.shape

(5000, 38)

In [163]:
HR_data.describe()

,Emp_ID,AIY,Weight,YOJ,MOJ,Day_Of_Joining,time_spend_company,Salary,Zip
count,5000.0000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,555385.4624,40.497562,59.968200,2007.327400,6.345200,15.721400,9.765914,119986.614800,50226.964200
std,256301.1832,11.365336,13.647082,8.838361,3.394281,8.766639,8.830620,46434.151143,27579.386224
min,111150.0000,21.010000,40.000000,1979.000000,1.000000,1.000000,0.000000,40011.000000,211.000000
25%,335512.5000,30.690000,50.000000,2002.000000,3.000000,8.000000,2.500000,79153.000000,27319.250000
50%,555986.0000,40.615000,57.000000,2010.000000,6.000000,16.000000,7.115000,120234.000000,49379.500000
75%,781261.2500,50.382500,70.000000,2015.000000,9.000000,23.000000,14.820000,160227.500000,73444.000000
max,999800.0000,60.000000,90.000000,2017.000000,12.000000,31.000000,38.460000,199968.000000,99919.000000

In [158]:
HR_data['Departments'].unique()

array(['Management', 'Sales', 'Markating', 'Internship', 'Tranning',
       'Technical', 'product_mng', 'HR', 'CEO'], dtype=object)